.card-container {
 
    width: 750px;
    height: 330px;
    
    .button-container {
      display: flex;
      justify-content: center;
      padding: 8px;
      .button {
        width: calc(50% - 8px);
        margin-right: 2px;
      }
    }
    .end-button-container {
      display: flex;
      justify-content: flex-end;
      padding: 8px;
      .button {
        width: calc(25% - 8px);
        margin-right: 2px;
      }
      .last-button {
        width: calc(25% - 6px);
      }
    }
  }
  .card-container {
    position: relative; 
  }
  
  .card-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 4px; 
    height: 25%;
    background-color: #DE1D9D;
  }