.card-container {
  width: 750px;
    height: 330px;
    .card {
      position: relative; 
      border-left: 3px solid #DE1D9D; 
      padding-left: 10px; 
    }
  
    .rectangle-container {
      display: flex;
      justify-content: center;
      padding: 8px;
      .rectangle {
        width: 100px;
        height: 50px;
        margin-right: 16px;
      }
    }
  
    .label {
      margin-right: 16px;
    }
  }
  .card-container {
      position: relative; 
    }
    
    .card-container::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 4px; 
      height: 25%;
      background-color: #DE1D9D;
    }