.form-container {
    .card {
      width: 750px;
      height: 430px;
      background-color: #ffffff; 
      border-radius: 10px; 
      padding: 20px; 
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    }
  
    .input-field-small {
      max-width: 690px;
    }
  
    .small-text {
      font-size: 12px; 
    }
  
    .bg-color {
      background-color: #DE1D9D; 
    }
  }
  .form-container {
    position: relative; 
  }
  
  .form-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 25%;
    background-color: #DE1D9D;
  }
  .message-card {
    max-width: 750px;
    height: 330px;
  }
  
  .wrong-card {
    background-color: #ffebee; 
  }
  
  .true-card {
    background-color: #e8f5e9; 
  }
  
  .error-text,
  .success-text {
    font-size: 18px;
    margin-right: 4px;
  }
  
  .error-word,
  .success-word {
    font-size: 18px;
  }
  
  .error-text,
  .error-word {
    color: red;
  }
  
  .success-text,
  .success-word {
    color: green;
  }
  
  .d-flex {
    display: flex;
  }
  
  .align-center {
    align-items: center;
  }
  
  .small-image {
    margin-left: 4px; 
  }
  .card-container {
    position: relative; 
  }
  
  .card-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 4px; 
    height: 25%;
    background-color: #DE1D9D;
  }