.table-container {
  padding: 20px;

  .border-bottom {
    border-bottom: 1px solid #000; 
  }
  
  .border-right {
    border-right: 1px solid #000; 
  }
}

.card-container {
  position: relative; 
  width: 750px;
  height: 330px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 4px; 
    height: 25%;
    background-color: #DE1D9D;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
