.form-container {
    width: 750px;
    height: 330px;
    .card {
     
      background-color: #ffffff; 
      border-radius: 10px; 
      padding: 20px; 
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    }
  
    .small-text {
      font-size: 12px; 
      margin-right: 4px;
    }
  
    .rounded {
      border-radius: 5px; 
    }
  
    .error-text {
      color: red; 
    }
  
    .success-text {
      color: green; 
    }
  
    .small-image {
      margin-left: 4px; 
    }
  }
  
  .card-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 4px; 
    height: 25%;
    background-color: #DE1D9D;
  }