<template>
  <div>
    <v-main class="pa-0"> 
      <v-container fluid > 
            <Create/>
        <v-row>
          <v-col cols="12" md="6">
            <Colors />
          </v-col>
          <v-col cols="12" md="6">
            <Buttons />
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="12" md="6">
            <Table />
          </v-col>
          <v-col cols="12" md="6">
            <Form />
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="12" md="6">
            <MessagesAlrets />
          </v-col>
          <v-col cols="12" md="6">
            <Validation />
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="12" md="6">
        
          </v-col>
          <v-col cols="12" md="6">
            <Illustration />
          </v-col>
        </v-row>
      </v-container>
    </v-main>
  </div>
</template>
<script>
import Buttons from '../components/Buttons.vue'
import Colors from '../components/Colors.vue'
import Table from '../components/Table.vue'
import Form from '../components/Form.vue'
import Validation from '../components/Validation.vue'
import MessagesAlrets from '../components/MessagesAlrets.vue' 
import Illustration from '../components/Illustration.vue'
import Create from '../components/Create.vue'
//import Popup from '../components/Popup.vue';
import Navbar from '@/components/Navbar.vue'
import Users from '@/components/Users.vue'
export default {
  name: 'HomeView',
  data() {
    return {
      drawer: false, 
      popupVisible: false,
      isArabic: false,
      tasks: [],
    };
  },
  components: {
    Buttons,
    Colors,
    Navbar,
    Table,
    Form,
    Validation,
    MessagesAlrets,
    Illustration,
    Create,
    Users
  },
  methods: {
    addTask(task) {},
    switchLanguage(lang) {
      this.isArabic = lang === 'ar';
      this.$i18n.locale = lang;
      localStorage.setItem('locale', lang);

      const currentLang = lang === 'ar' ? 'ar' : 'en';
      this.$vuetify.lang.current = currentLang;
      this.$vuetify.rtl = lang === 'ar';
    },
  },
  created() {
    const savedLang = localStorage.getItem('locale');
    if (savedLang) {
      this.switchLanguage(savedLang);
    }
  },
};
</script>