<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <v-card fluid class="card-container"> 
          <v-card-title>
            {{ $t('buttons.signIn') }}
          </v-card-title>
          
          <v-card-actions class="button-container">
            <v-btn outlined color="secondary" class="button">{{ $t('buttons.signIn') }}</v-btn>
            <v-btn color="secondary" class="button">{{ $t('buttons.signIn') }}</v-btn>
          </v-card-actions>
          <v-card-actions class="button-container">
            <v-btn outlined color="primary" class="button">{{ $t('buttons.signUp') }}</v-btn>
            <v-btn color="primary" class="button">{{ $t('buttons.signUp') }}</v-btn>
          </v-card-actions>
          <v-card-actions class="end-button-container">
            <v-btn color="primary" class="button">{{ $t('buttons.signIn') }}</v-btn>
            <v-btn color="secondary" class="button last-button">{{ $t('buttons.signUp') }}</v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data() {
    return {};
  },
  methods: {
    changeLanguage(lang) {
      this.$i18n.locale = lang; 
      localStorage.setItem('locale', lang); 
    }
  }
};
</script>

<style lang="scss" scoped>

</style>
