<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <v-card fluid class="card-container">
          <v-card-title>
            {{ $t('colors.title') }}
          </v-card-title>
          <v-card-actions class="rectangle-container">
            <span class="label mr-3">{{ $t('colors.secondary') }}</span>
            <v-card class="rectangle" color="secondary"></v-card>
            <v-card class="rectangle" color="lightblue"></v-card>
            <v-card class="rectangle" color="verylightblue"></v-card>
          </v-card-actions>
          <v-card-actions class="rectangle-container">
            <span class="label mr-7">{{ $t('colors.primary') }}</span>
            <v-card class="rectangle" color="primary"></v-card>
            <v-card class="rectangle" color="pinklighten4"></v-card>
            <v-card class="rectangle" color="pinklighten5"></v-card>
          </v-card-actions>
          <v-card-actions class="rectangle-container">
            <span class="label mr-12">{{ $t('colors.grey') }}</span>
            <v-card class="rectangle" color="greylighten2"></v-card>
            <v-card class="rectangle" color="greylighten1"></v-card>
            <v-card class="rectangle" color="greydarken1"></v-card>
          </v-card-actions>
          
          
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data() {
    return {};
  },
  methods: {
    switchLanguage(lang) {
      this.$i18n.locale = lang;
      localStorage.setItem('locale', lang);
    }
  }
};
</script>

<style lang="scss" scoped>

</style>
