<template>
    <v-container fluid>
      <v-row justify="end">
        <v-col cols="12" md="11"> 
          <v-card class="pa-4">
            
          </v-card>
        </v-col>
        <v-col cols="12" md="1" > 
          <v-btn block color="primary">Create</v-btn> 
        </v-col>
      </v-row>
    </v-container>
  </template>
  
  <script>
  export default {
    name: 'MyComponent',
  }
  </script>
  
  <style scoped>
  
  .v-divider {
    background-color: rgba(0, 0, 0, 0.12); 
  }
  </style>
  