<template>
  <v-container>
    <v-row>
      <v-col>
        <v-card fluid class="form-container">
          <v-card-title>{{ $t('form.title') }}</v-card-title>
          <ValidationObserver v-slot="{ invalid }" ref="observer">
            <v-form @submit.prevent="saveForm">
              <v-row>
                <v-col class="ml-4">
                  <span>{{ $t('form.firstName') }}</span>
                  <ValidationProvider v-slot="{ errors }" :rules="firstNameRules" name="first name">
                    <v-text-field v-model="firstName" outlined dense :error-messages="errors" 
                    :hint="firstNameHint" persistent-hint class="input-field-small"></v-text-field>
                  </ValidationProvider>
                </v-col>
              </v-row>
              <v-row>
                <v-col class="ml-4">
                  <span>{{ $t('form.mobile') }}</span>
                  <ValidationProvider v-slot="{ errors }" :rules="mobileNumberRules" name="mobile number">
                    <v-text-field v-model="mobileNumber" outlined dense :error-messages="errors" 
                    :hint="mobileNumberHint" persistent-hint class="input-field-small">
                      <template #append>
                        <v-row class="pa-1">
                          <v-col class="d-flex align-center bg-color d-flex align-center rounded pa-1">
                            <span class="mr-1 small-text">(+966)</span>
                            <img src="../assets/images/flag.svg" alt="Flag" width="30" height="30">
                          </v-col>
                        </v-row>
                      </template>
                    </v-text-field>
                  </ValidationProvider>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="3" class="ml-2">
                  <v-btn type="submit" color="secondary" :disabled="invalid">{{ $t('form.save') }}</v-btn>
                </v-col>
                <v-col cols="3" class="mr-5">
                  <v-btn outlined color="secondary" @click="cancelForm">{{ $t('form.cancel') }}</v-btn>
                </v-col>
              </v-row>
            </v-form>
          </ValidationObserver>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>


<script>
import { ValidationObserver, ValidationProvider, extend } from 'vee-validate';
import { required } from 'vee-validate/dist/rules';

extend('required', {
  ...required,
  message: 'This field is required'
});

export default {
  components: {
    ValidationObserver,
    ValidationProvider
  },
  data() {
    return {
      firstName: '',
      mobileNumber: '',
      firstNameHint: this.$t('form.firstNameHint'),
      mobileNumberHint: this.$t('form.mobileNumberHint'),
      firstNameRules: 'required',
      mobileNumberRules: 'required'
    };
  },
  methods: {
    saveForm() {
      console.log('Form saved');
    },
    cancelForm() {
      console.log('Form cancelled');
    }
  }
};
</script>

<style lang="scss" scoped>

</style>
