<template>
  <v-container>
    <v-row justify="center">
      <v-col cols="12">
        <v-card fluid style="max-width: 750px; height: 330px;"> 
          <v-card-title>
              Illustration
          </v-card-title>
          <v-row justify="center">
            <v-col cols="6">
              <v-img src="../assets/images/500.svg" contain></v-img>
            </v-col>
            <v-spacer></v-spacer>
            <v-col cols="6">
              <v-img src="../assets/images/404.svg" contain></v-img>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data() {
    return {};
  },
};
</script>
