<template>
  <v-container class="mt-15">
    <v-row justify="center">
      <v-col cols="12">
        <v-card class="message-card" outlined>
          <v-card-title>
            {{ $t('messageAlerts.title') }}
          </v-card-title>
          <v-row align="center">
            <v-col cols="12">
              <v-card class="wrong-card" outlined>
                <v-card-text class="text-center">
                  <v-row align="center">
                    <v-col cols="auto" class="d-flex align-center">
                      <span class="error-text">{{ $t('messageAlerts.wrong.text') }}</span>
                      <v-img src="../assets/images/wrong.svg" width="20" height="20" class="small-image"></v-img>
                    </v-col>
                  </v-row>
                </v-card-text>
              </v-card>
            </v-col>
          </v-row>
          <v-row align="center">
            <v-col cols="12">
              <v-card class="true-card">
                <v-card-text class="text-center">
                  <v-row align="center">
                    <v-col cols="auto" class="d-flex align-center">
                      <span class="success-text">{{ $t('messageAlerts.true.text') }}</span>
                      <v-img src="../assets/images/true.svg" width="20" height="20" class="small-image"></v-img>
                    </v-col>
                  </v-row>
                </v-card-text>
              </v-card>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data() {
    return {};
  }
};
</script>

<style lang="scss" scoped>

</style>
