<template>
  <nav class="nav-container" >

    <v-app-bar app class="rounded">
      
      <img src="../assets/images/menu.svg" alt="" @click="toggleDrawer" width="25">
      <v-spacer></v-spacer>
      <v-btn text class="ml-2" @click="switchLanguage('en')">{{ $t('EN') }}</v-btn>
      <v-btn text class="ml-2" @click="switchLanguage('ar')">{{ $t('AR') }}</v-btn>
      <v-card class="pa-1 mr-2" color="pink lighten-5" max-width="40" max-height="40" @click="openSettings">
        <v-img :src="getIconUrl('setting.svg')" alt="setting"></v-img>
      </v-card>
      <v-divider vertical class="grey" width="2"></v-divider>
      <v-card class="pa-1 ml-2" color="pink lighten-5" max-width="40" max-height="40" @click="logout">
        <v-img :src="getIconUrl('exit.svg')" alt="exit"></v-img>
      </v-card>
      
      
    </v-app-bar>

    <v-navigation-drawer app v-model="drawer" class="dodo">
      <v-container class="mt-3">
        <v-row justify="center">
          <v-btn fab depressed color="grey">
            <span>logo</span>
          </v-btn>
        </v-row>
      </v-container>
      <v-list>
        <v-list-item v-for="(item, index) in sidebarItems" :key="index" link>
          <v-list-item-icon>
            <v-img :src="getIconUrl(item.icon)" width="60" height="60"/>
            <v-list-item-title class="mb-5">{{ $t('navbar.' + item.title) }}</v-list-item-title>
          </v-list-item-icon>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
  </nav>
</template>

<script>
export default {
  data() {
    return {
      drawer: true,
      isArabic: false, 
      sidebarItems: [
        { title: 'dashboard', icon: 'dash.svg' },
        { title: 'exampleText', icon: 'dash.svg' },
        { title: 'exampleText', icon: 'dash.svg' },
        { title: 'exampleText', icon: 'dash.svg' },
        { title: 'exampleText', icon: 'dash.svg' },
        { title: 'exampleText', icon: 'dash.svg' }
      ]
    };
  },
  computed: {
    languageDirection() {
      return this.isArabic ? 'rtl' : 'ltr';
    }
   
  
  },
  methods: {
    getIconUrl(iconName) {
      return require(`../assets/images/${iconName}`);
    },
    toggleDrawer() {
      this.drawer = !this.drawer;
    },
    openSettings() {
     
    },
    logout() {
      
    },
    switchLanguage(lang) {
      this.isArabic = lang === 'ar'; 
      this.$i18n.locale = lang;
      localStorage.setItem('locale', lang);
    }
  }
};
</script>

<style lang="scss" scoped>


.rtl {
  direction: rtl;
}
.ltr {
  direction: ltr;
}
</style>
