<template>
  <v-dialog v-model="dialog" :max-width="dialogMaxWidth" :direction="direction">
    <template v-slot:activator="{ on }">
      <v-btn class="mt-5 ml-15" color="primary" v-on="on">
        {{ $t('addTaskHere') }}
      </v-btn>
    </template>
  </v-dialog>
</template>


<script>
export default {
  data() {
    return {
      dialog: false,
      taskName: '',
      direction: 'top', 
    };
  },
  computed: {
    dialogMaxWidth() {
      return this.direction === 'left' || this.direction === 'right' ? '500px' : '100%';
    }
  },
  methods: {
    handleDirectionChange(newDirection) {
      this.direction = newDirection;
    }
  }
};
</script>

