<template>
  <v-container class="table-container">
    <v-row>
      <v-col cols="12">
        <v-card fluid class="card-container">
          <v-card-title>
            {{ $t('tableTitle') }}
          </v-card-title>
          <v-simple-table>
            <template v-slot:default>
              <thead>
                <tr>
                  <th class="border-bottom border-right">{{ $t('table.id') }}</th>
                  <th class="border-bottom border-right"></th>
                  <th class="border-bottom border-right">{{ $t('table.name') }}</th>
                  <th class="border-bottom border-right">{{ $t('table.email') }}</th>
                  <th class="border-bottom">{{ $t('table.work') }}</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(person, index) in paginatedPersons" :key="index">
                  <td class="border-bottom border-right">{{ (currentPage - 1) * pageSize + index + 1 }}</td>
                  <td class="border-bottom border-right">
                    <v-img src="../assets/images/person.jpg" width="30" height="30"></v-img>
                  </td>
                  <td class="border-bottom border-right">{{ person.name }}</td>
                  <td class="border-bottom border-right">{{ person.email }}</td>
                  <td class="border-bottom">
                    <div style="display: flex; align-items: center;">
                      {{ person.work }}
                      <v-spacer></v-spacer>
                      <v-img class="ml-1" src="../assets/images/edit.svg" width="15" height="25"></v-img>
                      <v-img class="ml-1" src="../assets/images/show.svg" width="15" height="25"></v-img>
                      <v-img class="ml-1" src="../assets/images/delete.svg" width="15" height="25"></v-img>
                    </div>
                  </td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
          <div class="pagination">
            <v-btn color="primary" @click="prevPage" :disabled="currentPage === 1">1</v-btn>
            <v-btn color="primary" @click="nextPage" :disabled="currentPage === totalPages">2</v-btn>
          </div>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      persons: [], 
      pageSize: 5, 
      currentPage: 1 
    };
  },
  created() {
    this.fetchPersons(); 
  },
  computed: {
    totalPages() {
      return Math.ceil(this.persons.length / this.pageSize);
    },
    paginatedPersons() {
      const startIndex = (this.currentPage - 1) * this.pageSize;
      const endIndex = startIndex + this.pageSize;
      return this.persons.slice(startIndex, endIndex);
    }
  },
  methods: {
    async fetchPersons() {
      try {
        const response = await this.$axios.get('/users'); 
        this.persons = response.data; 
      } catch (error) {
        console.error('Error fetching persons:', error);
      }
    },
    nextPage() {
      if (this.currentPage < this.totalPages) {
        this.currentPage++;
      }
    },
    prevPage() {
      if (this.currentPage > 1) {
        this.currentPage--;
      }
    }
  }
};
</script>







<!-- <v-card :class="[languageDirection]">
    <v-card-title>
      {{$t('table.Tasks')}}
      <v-spacer></v-spacer>
      <v-btn :class="[languageDirection]" color="primary" @click="openPopup">{{ $t('table.Add Tasks') }}</v-btn>
    </v-card-title>
    <v-card-text>
      <v-simple-table>
        <template v-slot:default>
          <thead>
            <tr>
              <th class="text-left">{{ isArabic ? $t('table.Tasks') : $t('table.ID') }}</th>
              <th class="text-left">{{ isArabic ? $t('table.ID') : $t('table.Tasks') }}</th>
            </tr>
            
          </thead>
          <tbody>
            <tr v-for="task in tasks" :key="task.id">
              <td>{{ isArabic ? $t('table.' + task.name) : task.id }}</td>
              <td>{{ isArabic ? task.id : $t('table.' + task.name) }}</td>
            </tr>
          </tbody>
        </template>
      </v-simple-table>
    </v-card-text>
  </v-card>-->