<template>
  <v-container>
    <v-row>
      <v-col>
        <v-card fluid class="form-container">
          <v-card-title>{{ $t('validationForm.title') }}</v-card-title>
          <v-form @submit.prevent="submitForm">
            
            <v-row>
              <v-col class="ml-4">
                <span>{{ $t('validationForm.firstName.label') }}</span>
                <v-text-field
                  v-model="firstName"
                  outlined dense
                  :rules="firstNameRules"
                  :error-messages="firstNameErrors"
                  :label="$t('validationForm.firstName.label')"
                  :color="getInputColor(firstName, firstNameErrors)"
                >
                  
                  <template #append>
                    <span class="mr-2 mt-2 small-text" v-if="!firstNameErrors.length && firstName">Correct and identical</span>
                    <v-img v-if="!firstNameErrors.length && firstName" src="../assets/images/true.svg" alt="Correct" width="25" height="25"></v-img>
                  </template>
                </v-text-field>
              </v-col>
            </v-row>
         
            <v-row>
              <v-col class="ml-4">
                <span>{{ $t('validationForm.lastName.label') }}</span>
                <v-text-field
                  v-model="lastName"
                  outlined dense
                  :rules="lastNameRules"
                  :error-messages="lastNameErrors"
                  :label="$t('validationForm.lastName.label')"
                  :color="getInputColor(lastName, lastNameErrors)"
                >
                  
                  <template #append>
                    <span class="mr-2 mt-2 small-text" v-if="!lastNameErrors.length && lastName">Please enter a valid number, numbers and letters</span>
                    <v-img v-if="!lastNameErrors.length && lastName" src="../assets/images/wrong.svg" alt="Wrong" width="25" height="25"></v-img>
                  </template>
                </v-text-field>
              </v-col>
            </v-row>

           
          </v-form>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { extend } from 'vee-validate';
import { required, maxLength } from 'vee-validate/dist/rules';


extend('required', {
      ...required,
      message: field => `The ${field} field is required`
    });

export default {
  data() {
    return {
      firstName: '',
      lastName: '',
      firstNameErrors: [],
      lastNameErrors: []
    };
  },
  
  computed: {
  firstNameRules() {
    return [
      
      value => (value && value.length <= 10) 
    ];
  },
  lastNameRules() {
    return [
      
      value => (value && value.length <= 10) 
    ];
  }
},

  methods: {
    getInputColor(value, errors) {
  return errors && errors.length > 0 || (value && value.length > 10) ? 'red' : (value ? 'green' : '');
},

    submitForm() {
      
    }
  }
};
</script>

<style lang="scss" scoped>

</style>
