<template>
  <v-app>
    <v-main>
      <Navbar />

  
 
   <!--   <NavBar :is-arabic="isArabic" @switch-language="switchLanguage" /> -->

      <router-view/>
    </v-main>
  </v-app>
</template>

<script>

import Navbar from '@/components/Navbar.vue'


import NavBar from './components/Navbar';


export default {
  name: 'App',
  components: {

    Navbar,
  

    NavBar,
  },
  
}
</script>
